<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {{#if site.info.extra.ga_measurement_id }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.info.extra.ga_measurement_id}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{site.info.extra.ga_measurement_id}}');
    </script>
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{! Use the formatter.title and formatter.description in the head }}
    <title>{{page.head.title}} | {{site.info.title}}</title>

    <meta name="keywords" content="{{#if (lt 0 (len page.head.tags))}}{{#each page.head.tags}}{{this}}, {{/each}}{{else}}{{site.info.extra.keywords}}{{/if}}">

    <meta name="title" property="og:title" content="{{page.head.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{site.info.base_url}}{{env.PATH_INFO}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{site.info.title}}">
    <meta property="article:section" content="blog">

    <meta property="article:published_time" content="{{date_format "%Y-%m-%dT%H:%M:%SZ" page.head.date}}">
    {{#if page.head.extra.last_modified}}
    <meta property="article:modified_time" content="{{date_format "%Y-%m-%dT%H:%M:%SZ" page.head.extra.last_modified}}">
    {{else}}
    <meta property="article:modified_time" content="{{date_format "%Y-%m-%dT%H:%M:%SZ" page.head.date}}">
    {{/if}}

    <meta name="twitter:title" content="{{page.head.title}}">
    {{#if page.head.extra.image}}
        <meta name="twitter:card" content="{{page.head.extra.twitter_card_type}}">
        <meta name="twitter:image" content="{{site.info.base_url}}{{page.head.extra.image}}">
        <meta name="image" property="og:image" content="{{site.info.base_url}}{{page.head.extra.image}}">
    {{else}}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="{{site.info.base_url}}{{site.info.extra.twitter_card}}">
        <meta name="image" property="og:image" content="{{site.info.base_url}}{{site.info.extra.twitter_card}}">
    {{/if}}

    {{#if page.head.description}}
    {{! Only render the description if it exists }}
    <meta name="description" content="{{page.head.description}}">
    <meta property="og:description" content="{{page.head.description}}">
    <meta name="twitter:description" content="{{page.head.description}}">
    {{/if}}

    {{#if page.head.extra.author}}
    <meta name="author" content="page.head.extra.author">
    {{/if}}

    <link rel="icon" type="image/png" href="{{site.info.base_url}}/static/image/icon/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.info.base_url}}/static/image/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.info.base_url}}/static/image/icon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.info.base_url}}/static/image/icon/apple-touch-icon.png">
    <link rel="manifest" href="{{site.info.base_url}}/static/image/icon/site.webmanifest">
    <link rel="mask-icon" href="{{site.info.base_url}}/static/image/icon/safari-pinned-tab.svg" color="#0d203f">
    <meta name="msapplication-TileColor" content="#0d203f">

    <link rel="alternate" type="application/rss+xml" title="{{site.info.title}}" href="{{site.info.base_url}}/atom.xml">
    <link rel="canonical" href="{{site.info.base_url}}{{env.PATH_INFO}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
        integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.info.base_url}}/static/css/styles.css" />

    <script>
        const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";

        // The default theme is the system theme, unless the user has
        // explicitly overridden it.
        var savedTheme = localStorage.getItem("theme") || systemTheme;
        setTheme(savedTheme);

        document.addEventListener("DOMContentLoaded", () => {
            const btn = document.querySelector(".dark-mode");
            btn.addEventListener("click", () => {
                if (savedTheme === "dark") {
                    setTheme("light");
                } else if (savedTheme === "light") {
                    setTheme("dark");
                }
            });
        })

        // Change the website theme when the system theme changes.
        window
            .matchMedia("(prefers-color-scheme: dark)")
            .addEventListener("change", (event) => {
                if (event.matches) {
                    setTheme("dark");
                } else {
                    setTheme("light");
                }
            });

        // Change the website theme when a different tab changed it.
        window.onstorage = () => {
            // When local storage changes, update the theme.
            setTheme(localStorage.getItem("theme"));
        };


        function setTheme(mode) {
            localStorage.setItem("theme", mode);
            savedTheme = mode;
            document.documentElement.classList.toggle('dark-theme', mode === "dark");
        }
    </script>
</head>
<body class="documentation">

    {{> content_navbar }}
